/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/report
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/
tests/coverage
.DS_Store
