includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            paths:
                - ./tests/*
        -
            message: '#Access to an undefined property: \$this#'
            paths:
                - ./App/Http/Livewire/*
