parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "%%" between mixed and 12 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Casts/HeightCast.php

		-
			message: '#^Binary operation "/" between mixed and 12 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Casts/HeightCast.php

		-
			message: '#^Method App\\Data\\EventMatchData\:\:getCompetitors\(\) should return Illuminate\\Support\\Collection\<''tag_teams''\|''wrestlers'', array\<int, App\\Models\\TagTeam\|App\\Models\\Wrestler\>\> but returns Illuminate\\Support\\Collection\<\(int\|string\), mixed\>\.$#'
			identifier: return.type
			count: 1
			path: app/Data/EventMatchData.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/EventsTable.php

		-
			message: '#^Method App\\Livewire\\Events\\EventsTable\:\:builder\(\) return type with generic class App\\Builders\\EventBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Events/EventsTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Events\\EventsTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Events/EventsTable.php

		-
			message: '#^Binary operation "\." between mixed and '' by '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$competitor on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$competitors on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$decision on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$full_name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$referees on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$result on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$titles on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$winner on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Method App\\Livewire\\Events\\MatchesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Events/MatchesTable.php

		-
			message: '#^Cannot access property \$firstEmployment on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Method App\\Livewire\\Managers\\ManagersTable\:\:builder\(\) return type with generic class App\\Builders\\ManagerBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Managers\\ManagersTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Parameter \#3 \$value of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereDate\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/Managers/ManagersTable.php

		-
			message: '#^Method App\\Livewire\\Managers\\PreviousStablesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Managers/PreviousStablesTable.php

		-
			message: '#^Method App\\Livewire\\Managers\\PreviousTagTeamsTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Managers/PreviousTagTeamsTable.php

		-
			message: '#^Method App\\Livewire\\Managers\\PreviousWrestlersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Managers/PreviousWrestlersTable.php

		-
			message: '#^Binary operation "\." between mixed and '' by '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 3
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$competitor on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$competitors on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$decision on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$event on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 5
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$result on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$titles on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$winner on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot call method whereIn\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Method App\\Livewire\\Referees\\PreviousMatchesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Referees/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$firstEmployment on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Method App\\Livewire\\Referees\\RefereesTable\:\:builder\(\) return type with generic class App\\Builders\\RefereeBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Referees\\RefereesTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Parameter \#3 \$value of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereDate\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/Referees/RefereesTable.php

		-
			message: '#^Method App\\Livewire\\Stables\\PreviousManagersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Stables/PreviousManagersTable.php

		-
			message: '#^Method App\\Livewire\\Stables\\PreviousTagTeamsTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Stables/PreviousTagTeamsTable.php

		-
			message: '#^Method App\\Livewire\\Stables\\PreviousWrestlersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Stables/PreviousWrestlersTable.php

		-
			message: '#^Cannot access property \$firstActivation on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Method App\\Livewire\\Stables\\StablesTable\:\:builder\(\) return type with generic class App\\Builders\\StableBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Stables\\StablesTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Stables/StablesTable.php

		-
			message: '#^Method App\\Livewire\\TagTeams\\PreviousManagersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/TagTeams/PreviousManagersTable.php

		-
			message: '#^Method App\\Livewire\\TagTeams\\PreviousStablesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/TagTeams/PreviousStablesTable.php

		-
			message: '#^Method App\\Livewire\\TagTeams\\PreviousWrestlersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/TagTeams/PreviousWrestlersTable.php

		-
			message: '#^Cannot access property \$firstEmployment on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Method App\\Livewire\\TagTeams\\TagTeamsTable\:\:builder\(\) return type with generic class App\\Builders\\TagTeamBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\TagTeams\\TagTeamsTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Parameter \#3 \$value of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereDate\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/TagTeams/TagTeamsTable.php

		-
			message: '#^Cannot access property \$firstActivation on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Method App\\Livewire\\Titles\\TitlesTable\:\:builder\(\) return type with generic class App\\Builders\\TitleBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Titles\\TitlesTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Titles/TitlesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Users/UsersTable.php

		-
			message: '#^Method App\\Livewire\\Users\\UsersTable\:\:builder\(\) return type with generic class App\\Builders\\UserBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Users/UsersTable.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Venues/PreviousEventsTable.php

		-
			message: '#^Method App\\Livewire\\Venues\\PreviousEventsTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Venues/PreviousEventsTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Venues/VenuesTable.php

		-
			message: '#^Method App\\Livewire\\Venues\\VenuesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Venues/VenuesTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\PreviousManagersTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/PreviousManagersTable.php

		-
			message: '#^Binary operation "\." between mixed and '' by '' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 3
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$competitor on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$competitors on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$decision on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$name on mixed\.$#'
			identifier: property.nonObject
			count: 5
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$result on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$titles on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot access property \$winner on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Cannot call method whereMorphedTo\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\PreviousMatchesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/PreviousMatchesTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\PreviousStablesTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/PreviousStablesTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\PreviousTagTeamsTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/PreviousTagTeamsTable.php

		-
			message: '#^Cannot call method whereMorphedTo\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Wrestlers/PreviousTitleChampionshipsTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\PreviousTitleChampionshipsTable\:\:builder\(\) return type with generic class Illuminate\\Database\\Eloquent\\Builder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/PreviousTitleChampionshipsTable.php

		-
			message: '#^Binary operation "%%" between mixed and 12 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Wrestlers/WrestlerForm.php

		-
			message: '#^Binary operation "/" between mixed and 12 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Livewire/Wrestlers/WrestlerForm.php

		-
			message: '#^Cannot call method toInches\(\) on int\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Livewire/Wrestlers/WrestlerForm.php

		-
			message: '#^Parameter \#1 \$wrestler of method App\\Livewire\\Wrestlers\\WrestlerForm\:\:setWrestler\(\) expects App\\Models\\Wrestler, App\\Models\\Wrestler\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Wrestlers/WrestlerModal.php

		-
			message: '#^Cannot access property \$firstEmployment on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Cannot access property \$started_at on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Cannot call method format\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Method App\\Livewire\\Wrestlers\\WrestlersTable\:\:builder\(\) return type with generic class App\\Builders\\WrestlerBuilder does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Parameter \#1 \$statuses of method App\\Livewire\\Wrestlers\\WrestlersTable\:\:getDefaultStatusFilter\(\) expects array\<int, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Parameter \#2 \$callback of method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Wrestler\>\:\:when\(\) expects \(callable\(App\\Builders\\WrestlerBuilder\<App\\Models\\Wrestler\>, mixed\)\: App\\Builders\\WrestlerBuilder\<App\\Models\\Wrestler\>\)\|null, Closure\(Illuminate\\Database\\Eloquent\\Builder, array\)\: App\\Builders\\WrestlerBuilder\<App\\Models\\Wrestler\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Parameter \#3 \$value of method App\\Builders\\WrestlerBuilder\<App\\Models\\Wrestler\>\:\:whereDate\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Parameter \#3 \$value of method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:whereDate\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Livewire/Wrestlers/WrestlersTable.php

		-
			message: '#^Method App\\Models\\TitleChampionship\:\:allTitleChampions\(\) return type with generic class Staudenmeir\\LaravelMergedRelations\\Eloquent\\Relations\\MergedRelation does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/TitleChampionship.php

		-
			message: '#^Parameter \#1 \$date of method Carbon\\Carbon\:\:diffInDays\(\) expects DateTimeInterface\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/TitleChampionship.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#1 \$key of method Illuminate\\Support\\Collection\<int,App\\Models\\TagTeam\|App\\Models\\Wrestler\>\:\:contains\(\) expects App\\Models\\TagTeam\|App\\Models\\Wrestler\|\(callable\(App\\Models\\TagTeam\|App\\Models\\Wrestler, int\)\: bool\)\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Rules/TitleChampionIncludedInTitleMatch.php
