// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// @import "../../node_modules/datatables/media/css/jquery.dataTables.css";
@import "../../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
@import "../css/theme/components/datatables.bundle.css";
@import "../../node_modules/flatpickr/dist/flatpickr.css";
@import "../css/theme/pages/login-1.css";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.dataTables_wrapper .dataTables_paginate .pagination .page-item {
    margin-right: 0.4rem;
    margin-left: 0;
}

.dataTables_length {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: flex-start;
}

.dataTable thead th {
    border-bottom-width: 0;
}

.dataTable thead th:first-child,
.dataTable tbody td:first-child {
    padding-left: 25px;
}

.form-control.is-invalid ~ .kt-input-icon__icon {
    display: none;
}
