on: push
name: CI
jobs:
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Run PHP-CS-Fixer
      uses: docker://oskarstark/php-cs-fixer-ga:3.4.0
      with:
        args: --dry-run --config=./.php-cs-fixer.php
